/***----------------- contactBTN component ----------------------*/

.col-md-3,
.col-md-4 {
  padding: 1rem;

  text-align: center;
}

.btn-main-offer {
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
}

/*** ------------ End contactBTN component  -------------------*/

#about-text {
  color: whitesmoke;
  word-spacing: 0.8em;
}

#about {
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.display-1 {
  color: orange;
  /* font-weight: bold; */
}

.about {
  /* padding: 3rem 0; */
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.7);
}

.about h1 {
  padding: 1.3rem 0;
}

.about p {
  font-size: 1.2rem;
}

.about input,
.about textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid #eee;
  border-radius: 0;
  color: orange;
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.about .container {
  padding: 4rem 0;
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 1.1rem;
    color: white;
  }
  .display-1 {
    font-size: 2rem !important;
    color: orange;
  }
  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .about .container {
    padding: 0 1rem;
  }
  .about p {
    padding: 0 1rem;
  }
  .main-info {
    display: flex;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #tunnel {
    margin-top: -15rem;
  }
  #rock-img {
    margin-top: -15rem;
  }
}
