.nav-text {
  font-weight: 900;
}

#nav-container {
  position: fixed;
  /* width: auto;
  height: 200px;
  left: 50%;
  top: 0%;
  margin-left: -300px; */
}

/* .nav-bar {
    ;
} */

/* @media (max-width: 768px) {
  #nav-container {
    position: fixed;
  }
} */
