* {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  text-transform: uppercase;
}

/** -------------start scroll bar -------------------------- */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.063rem;
}
::-webkit-scrollbar-button {
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: auto;
  background-color: rgb(0, 123, 255);
  border-radius: 0.188rem;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-resizer {
  background-color: transparent;
}
/** ---------------- End scroll bar -------------------------- */
